body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 50px;
}

.dfghjklmù{
  /*  5fif  */
  font-family: 'Noto Sans KR', sans-serif;
  /*  ghlid  */
  font-family: 'Young Serif', serif;
}


.stockIMGS{
  width: 100%;
  margin: 15px 0;
  text-align: center;
}

.stockIMG{
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.imgs{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imgs img{
  width: 70px;
  height: 70px;
  border-radius: 15px;
}

.productTitle{
  font-family: 'Young Serif', serif;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.productDescription{
  margin-left: 5px;
  margin-top: 0;
}

.productStock{
  margin-left: 5px;
}

.productPromo{
  margin-left: 5px;
  color: green;
}

.Items{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PUpDown{
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  border: 1px solid #000;
}

.Item{
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #000;
}

.UpDown{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.incrementButton{
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid #000;
}

.decrementButton{
  background-color: white;
  border: 1px solid #000;
}

.Up{
  transform: rotate(180deg);
  width: 10px;
}

.Down{
  width: 10px;
}

.CartBuy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0;
}

.Cart{
  padding: 5px 60px;
  margin-right: 10px;
  border: 1px solid #000;
  background-color: white;
}

.CartImg{
  width: 25px;
}

.Buy{
  font-size: 15px;
  padding: 5px 60px;
  border: 1px solid #000;
  background-color: #000;
  color: white;
}

.Buy:hover{
  background-color: #000000c8;
}

.productBrand{
  margin-left: 5px;
}

.productCategory{
  margin-left: 5px;
}

.bus{
  width: 80%;
  margin: auto;
}

.buz{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bus img{
  width: 50px;
}

.bus .title{
  font-family: 'Young Serif', serif;
}

.bus .text{
  background-color: rgb(222, 235, 239);
  padding: 10px;
}





.theFour {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid #000;
  z-index: 999;
}

.theFour img {
  width: 30px;
}